$font-size-base: 1rem;
$orange: #D9910B;
$yellow: #F2B807;
$pink: #BF3604;
$red: #731702;
$secondary: #262626;
$yiq-contrasted-threshold: 250;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$white: #FCFCFC;
$teal: #96D9D9;
$green: #01403A;
$display1-size: 5rem;
$font-size-lg: $font-size-base * 1.18;
$font-size-sm: $font-size-base * 0.750;
$h1-font-size: $font-size-base * 2.0;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.50;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.15;
$display2-size: 4.5rem;
$display3-size: 4rem;
$print-page-size: a4;
$border-radius: 0.8rem;